/*  Переменные со шрифтами  */
$accent-font: 'Open Sans', sans-serif;

/* Основные цвета */
$gray      : #868799;
$lgray     : #F4F5F7;
$black     : #2C2C2C;
$blue      : #3772FE;
$red       : #F86635;

/* Разрешения */
$mobile:	576px;
$tablet:	768px;
$lg:		1024px;
$wd:		1440px;